# Django settings
DEBUG=False
SECRET_KEY=
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# Database settings
DATABASE_URL=sqlite:///db.sqlite3

# SMTP Encryption key
SMTP_FIELD_ENCRYPTION_KEY=
